@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h-100 {
    height: 40rem;
  }
  .bg-emerald-1000 {
    --tw-bg-opacity: 1;
    background-color: rgb(2 34 34 / var(--tw-bg-opacity));
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 209, 250, 229, 0.5;
  --background-end-rgb: 236, 253, 245;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.script {
  font-family: 'Brush Script MT', cursive;
}

/* Embla Carousel styles https://www.embla-carousel.com */
.embla {
  @apply w-full overflow-hidden relative bg-emerald-1000;
}
.embla-container {
  @apply flex h-80 sm:h-100;
}
.embla-slide {
  flex: 0 0 100%;
  position: relative;
}
.embla-slide:hover,
.embla-buttons:hover {
  cursor: grab;
}
.embla-slide:active,
.embla-buttons:active {
  cursor: grabbing;
}
.carousel-image {
  object-fit: contain;
}
.embla-buttons {
  @apply absolute left-0 top-2/4 -translate-y-2/4 flex items-center justify-between w-full;
}
.embla-button {
  @apply hidden sm:flex -mx-2 w-14 h-14 justify-center items-center cursor-pointer bg-cyan-700 rounded-lg border-double border-4 border-cyan-900 hover:bg-cyan-600 active:bg-neutral-500;
}
.embla-button:disabled {
  opacity: 0.3;
}
.embla-button-svg {
  width: 65%;
  height: 65%;
}
.embla-dot {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla-dots {
  @apply relative flex items-center justify-center left-0 right-0 bg-emerald-950 pb-1 sm:p-0;
}
.embla-dot {
  @apply flex items-center mx-3 w-10 h-8 sm:h-12;
}
.embla-dot:after {
  content: '';
  @apply w-full h-2 rounded bg-cyan-800;
}
.embla-dot--selected:after {
  @apply bg-cyan-50;
}
