@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 82, 146, 131, 0.5;
    --background-end-rgb: 236, 253, 245;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .bg-okw-green {
    --tw-bg-opacity: 1;
    background-color: rgb(82 146 131 / var(--tw-bg-opacity));
  }

  .bg-okw-green-light {
    --tw-bg-opacity: 0.5;
    background-color: rgb(82 146 131 / var(--tw-bg-opacity));
  }
}

@layer components {
  .h-100 {
    height: 40rem;
  }
}

.script {
  font-family: 'Brush Script MT', cursive;
}

/* Embla Carousel styles https://www.embla-carousel.com */
.embla {
  @apply w-full overflow-hidden relative bg-neutral-800;
}
.embla-container {
  @apply flex h-80 sm:h-100;
}
.embla-slide {
  flex: 0 0 100%;
  position: relative;
}
.embla-slide:hover,
.embla-buttons:hover {
  cursor: grab;
}
.embla-slide:active,
.embla-buttons:active {
  cursor: grabbing;
}
.carousel-image {
  object-fit: contain;
}
.embla-buttons {
  @apply absolute left-0 top-2/4 -translate-y-2/4 flex items-center justify-between w-full;
}
.embla-button {
  @apply hidden sm:flex -mx-2 w-14 h-14 justify-center items-center cursor-pointer bg-cyan-700 rounded-lg border-double border-4 border-cyan-900 hover:bg-cyan-600 active:bg-neutral-500;
}
.embla-button:disabled {
  opacity: 0.3;
}
.embla-button-svg {
  width: 65%;
  height: 65%;
}
.embla-dot {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla-dots {
  @apply relative flex items-center justify-center left-0 right-0 bg-okw-green sm:p-0;
}
.embla-dot {
  @apply flex items-center mx-3 w-10 h-8 sm:h-12;
}
.embla-dot:after {
  content: '';
  @apply w-full h-2 rounded bg-cyan-800;
}
.embla-dot--selected:after {
  @apply bg-cyan-50;
}
