@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h-100 {
    height: 30rem;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 204, 219, 220;
  --background-end-rgb: 250, 250, 250;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.script {
  font-family: 'Brush Script MT', cursive;
}

/* Embla Carousel styles https://www.embla-carousel.com */
.embla {
  @apply w-full overflow-hidden p-4 bg-slate-950;
}
.embla-container {
  @apply flex h-80 sm:h-100;
}
.embla-slide {
  flex: 0 0 100%;
  position: relative;
}
.embla-slide:hover {
  cursor: grab;
}
.embla-slide:active {
  cursor: grabbing;
}
.carousel-image {
  object-fit: contain;
}
